<link rel='stylesheet' href='/stylesheets/style.css' />
<style>
  input {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    font-size: large;
    text-align: center;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .window {
    padding: 15px;
    margin: 10px;
  }
</style>
<h2>
  Chinese Remainder Theorem
  <a href="/">Home</a>
</h2>
<p>
  CRT: Write a code to solve a moduli using CRT. Apply it for some particular examples. Print out the code and the solved examples,as
  well.
</p>

<form method="POST" class="board">

  <div class="window">
    X =
    <input name="a1" type="number"> mod
    <input name="m1" type="number">
  </div>
  <div class="window">
    X =
    <input name="a2" type="number"> mod
    <input name="m2" type="number">
  </div>
  <div class="window">
    X =
    <input name="a3" type="number"> mod
    <input name="m3" type="number">
  </div>

  <div class="window">
    <input type="submit" value="Calculate">
  </div>
  <% if(solution) { %>
    <div class="window">
      X =
      <%= solution %>
    </div>
    <% } %>
      </div>