<link rel='stylesheet' href='/stylesheets/style.css' />
<h2>
  Chinese Remainder Theorem
  <a href="/">Home</a>
</h2>
<p>
  CRT: Write a code to solve a moduli using CRT. Apply it for some particular examples. Print out the code and the solved examples,as
  well.
</p>

<%= reso %>