<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <div class="bar">
    <a href="/prime" class="link">Prime Calculations</a>
    <a href="/cong" class="link">Linear Congruences</a>
    <a href="/crt" class="link">Chinese Remainder Theorem</a>
  </div>
  <p>
    <%- paragraph.replace('\n', '<br>')  %>
  </p>
</body>

</html>