<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>


  <a href="/prime">Task 1 Prime Calculations</a>
  <br>
  <a href="/#">Task 2</a>
  <br>
  <a href="/#">Task 3</a>

</body>

</html>