body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.cont {
  display: grid;
  grid-template-columns: 100px 400px;
  grid-template-rows: auto auto auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.narrow {
  padding: 10px;
  width: 100px;
  background-color: antiquewhite;
}

.wide {
  background-color: cyan;
  word-break: break-all;
  width: 400px;
  padding: 10px;
}