body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.cont {
  display: grid;
  grid-template-columns: 100px 400px;
  grid-template-rows: auto auto auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.narrow {
  padding: 10px;
  width: 100px;
  background-color: antiquewhite;
}

.wide {
  background-color: cyan;
  word-break: break-all;
  width: 400px;
  padding: 10px;
}

.bar {
  background-color: darkslategray;
  border-radius: 5px;
  padding: 10px;
}

.link {
  color: white;
  text-decoration: none;
  margin: 5px;
}

a:hover {
  color: yellowgreen;
}

.board {
  font-size: 30px;
  padding: 40px;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 50px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}